@tailwind base;
@tailwind components;
@tailwind utilities;

/*set the body font family to poppins */

body,
* {
  font-family: "Inter", sans-serif;
  font-style: normal;
  /* color: #344054; */
}

/* import the cabinet grotest font */

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../src/assets//fonts//CabinetGrotesk/CabinetGrotesk-Regular.otf");
}

.font-grotesk {
  font-family: "Cabinet Grotesk", sans-serif;
}

body {
  background-color: #f1f5f9;
}

.home-section-overlay::after {
  background-color: rgb(245, 252, 245);
  content: " ";
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #39db4a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.noscrollbar::-webkit-scrollbar {
  width: 0px;
}
